/* Mobile */
.hero-container {
  /* border: 2px solid red; */
  height: 70vh;
  background-image: url("../../../assets/images/hero-image-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  font-family: "Stardos Stencil", system-ui;
}

.hero-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.15), transparent);
  pointer-events: none;
  z-index: 1;
}

.hero-content {
  /* border: 2px solid red; */
  height: 300px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-content h1 {
  /* border: 2px solid black; */
  width: 350px;
  color: white;
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: 40px;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);

}

.hero-content p {
  background-color: #fb0707;
  height: 50px;
  width: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-top: -25px;
  text-decoration: none;
}

.hero-content p a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
/* Desktop */

@media (min-width: 768px) {
  .hero-container {
    height: 75vh;
    height: clamp(450px, 75vh, 800px);
    background-image: url("../../../assets/images/hero-image-desktop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
    pointer-events: none;
    z-index: 1;
  }

  .hero-content {
    /* border: 3px solid red; */
    max-width: 800px;
    margin-left: 8vw;
  }

  .hero-content h1 {
    /* border: 2px solid black; */
    width: 650px;
    font-size: 50px;
    margin-bottom: -60px;
  }

  .hero-content p {
    outline: 2px solid transparent;
    outline-offset: 4px;
    transition: outline 0.3s ease;
    cursor: pointer;
    margin-bottom: -65px;
  }

  .hero-content p:hover {
    outline: 2px solid #fb0707;
  }
}
