.contact-form-container {
  /* border: 4px solid red; */
  font-family: "Stardos Stencil", system-ui;
}

.contact-form-container h2 {
  /* border: 2px solid black; */
  font-size: 1.5rem;
  line-height: 26px;
  /* color: #0047ab; */
  padding: 15px 0 0 15px;
}

.contact-form {
  /* border: 2px solid royalblue; */
  margin: 15px;
  padding: 10px;
  /* width: 100%; */
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); */
}

.contact-form > p {
  /* border: 1px solid black; */
  font-size: 0.8rem;
  margin-bottom: 15px;
}

.contact-form div {
  margin: 10px 0;
}

.contact-form div label {
  font-weight: 525;
}

.contact-form div input {
  /* border: 2px solid red; */
  width: 95%;
  height: 35px;
  padding-left: 5px;
}

.contact-form div select {
  width: 150px;
  width: 150px;
  height: 45px;
  text-align: center;
}

.contact-form div textarea {
  /* border: 2px solid blue; */
  resize: none;
  width: 100%;
  height: 200px;
  padding: 5px;
}

.contact-form button {
  width: 100px;
  width: fit-content;
  height: 45px;
  padding: 25px;
  font-size: 1.1rem;
  color: white;
  background-color: #0047ab;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0 auto 5px;
  cursor: pointer;
  outline: 3px solid transparent;
  outline-offset: 4px;
  transition: outline 0.3s ease, width .3s ease;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
/* Desktop */

@media (min-width: 768px) {
  .contact-form-container h2 {
    /* border: 2px solid royalblue; */
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #0047ab;
    background-color: rgba(0, 71, 171, .85);
  }

  .contact-form {
    width: 70%;
    margin: 10px auto 25px;
  }
  .contact-form div input {
    width: 99%;
  }

  .contact-form button:hover {
    outline: 3px solid #0047ab;
  }
}
