*,
*::before,
*::after {
  box-sizing: border-box;
}

.application-form-container {
  /* border: 5px solid red; */
  padding: 45px 10px 25px;
  background-color: rgba(0, 71, 171, 0.85);
  color: white;
  font-family: "Stardos Stencil", system-ui;
}

.application-header-content {
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-evenly;
}

.application-header-content div {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.application-header-content img {
  /* border: 2px solid royalblue; */
  width: 125px;
}

.application-header-content h1 {
  font-size: 1.7rem;
}

.application-header-content h2 {
  font-size: 1.2rem;
}

.application-intro-text {
  /* border: 1px solid red; */
  width: 90%;
  margin: 15px auto 30px;
  font-size: 1.1rem;
  text-align: center;
}

.application-form {
  /* border: 3px solid red; */
  margin: 10px auto 0;
  /* margin-top: 40px; */
  display: flex;
  flex-direction: column;

  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  background-color: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
}

.application-form label {
  font-weight: 600;
  max-width: 90%;
}

.application-form label:not(:has(input)) {
  /* color: red; */
  margin-top: 20px;
}

.application-form input[type="text"],
.application-form input[type="number"],
.application-form input[type="date"] {
  border: 1px solid #ccc;
  width: 95%;
  height: 45px;
  padding-left: 5px;
  /* margin-bottom: 10px; */
}

.application-form input[type="date"] {
  width: 50%;
}

.application-form label input[type="radio"] {
  color: red;
}

.application-form textarea {
  /* border: 2px solid blue; */
  resize: none;
  width: 95%;
  height: 115px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-clip: padding-box;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  display: block;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.application-form input {
  transform: translateZ(0);
  border: 1px solid #ccc;
  border-radius: 3px;
  background-clip: padding-box;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  display: block;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.step-button-container {
  /* border: 2px solid red; */
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.next-step-button {
  width: fit-content;
  padding: 15px;
  font-size: 1.1rem;
  color: white;
  background-color: #0047ab;
  display: inline;
  border-radius: 5px;
  margin: 15px auto 5px;
  cursor: pointer;
  outline: 3px solid transparent;
  outline-offset: 4px;
  transition: outline 0.3s ease, width 0.3s ease;
}

.step-count {
  /* color: #0047ab; */
  color: white;
  font-size: 1.4rem;
}

.education-training-header {
  /* border-bottom: 2px solid black; */
  width: fit-content;
  margin: 15px 0 -10px;
  margin: 15px 0 0;
  font-size: 1.3rem;
}

.signature-canvas {
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  height: 175px;
  margin: 0 auto;
}

.thank-you-for-applying {
  /* border: 2px solid red; */
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thank-you-for-applying h2 {
  font-size: 1.5rem;
}

.thank-you-for-applying img {
  width: 200px;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  */
/* Desktop design */
@media (min-width: 768px) {
  .application-form-container {
    background-color: rgba(0, 71, 171, 0.85);
    color: white;
  }

  .application-intro-text {
    width: 30%;
    max-width: 40%;
  }

  .application-form {
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    background-color: white;
    width: 750px;
    max-width: 750px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  }
  
  .application-form input[type="date"] {
    width: 25%;
  }


  .application-form label input[type="radio"] {
    border: 2px solid black;
  }

  .application-form label:not(:has(input)) {
    margin-top: 30px;
  }

  .signature-canvas {
    width: 600px;
    max-width: 600px;
  }

  .thank-you-for-applying {
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 500px;
    max-width: 600px;
    height: 350px;
    margin: 45px auto;
  }

  .step-count {
    width: 800px;
    margin: 0 auto;
    color: white;
  }

  .step-count + p {
    width: 800px;
    margin: 0 auto 10px;
  }
}
